/.phpunit.cache
/temp
/node_modules
/vendor
.env
.env.backup
.env.production
.env.prod
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.fleet
/.idea
/.vscode
